@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
}

.skew-bg {
  overflow: hidden;
}

.skew-bg::before {
  content: attr(data-username);
  font-size: 2rem;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  display: block;
  transform: skew(-30deg);
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.1;
  z-index: -1;
  overflow: hidden;
  color: white;

  /* Position and cover the grid cell */
  grid-row: span 1;
  grid-column: span 1;
}
